
@if(this.ImageParameter != null)
{
    <div @attributes="Attributes" class="@this.MaxWidthParameter">
        <img src="@this.Url" class="img_circle--" style="width: 100px; height: 100px;" />
    </div>
}
else
{
    @*<div @attributes="Attributes" class="@this.MaxWidthParameter">
        <img src="@this.Url" class="img_circle--" style="width: 100px; height: 100px;" />
    </div>*@
}
