
@if(this.ImageParameter != null)
{
    <div @attributes="Attributes" class="@this.MaxWidthParameter">
        <img class="img_circle--" style="width: 100px; height: 100px;" src="@this.Url" />
    </div>
}



@*@if (this.ImageParameter != null)
    {
        //this.Url = $"{Url_Api_Base_S_Images_UploadFiles}/{this.ImageParameter}";

        <div class="row no-gutters">
            <div class="col">
                <img class="img-circle p-1" src="@this.Url" />
            </div>
        </div>
    }*@
